nav ul {
    padding-bottom: 10px; /* Adds spaces to the bottom of the nav elemet */
    text-align: center; /* Centers the text horizontally */
    list-style-type: none; /* Removes unwanted design styles (Bullet Points) */
    margin: 0; /* Removes any default margin */
    padding-top: 10px;

}
nav li {
    display: inline; /* Makes the ul words go in one line */
    margin: 0 20px; /* This means: no space between the top and bottom and 20px left and right */
}


body {
    background-color: #0F0606;
    color: aliceblue;
}